
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  color: #111;
  background: #fff;
}

.hero {
  min-height: 100vh;
  background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.logo {
  font-weight: 700;
}

.hero-content {
  text-align: center;
  margin-top: 120px;
}

.hero-content h2 {
  font-size: 48px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 6px;
}

.primary {
  background: white;
  color: #111;
}

.section {
  padding: 80px 60px;
  text-align: center;
}

.section h3 {
  font-size: 32px;
  margin-bottom: 40px;
}

.cards, .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card, .project {
  padding: 30px;
  background: #f4f4f4;
  border-radius: 12px;
}

.dark {
  background: #111;
  color: white;
}

.dark .card, .dark .project {
  background: #1e1e1e;
}

footer {
  padding: 20px;
  text-align: center;
  background: #000;
  color: #aaa;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }

  .project img {
  width: 100%;
  border-radius: 10px;
  margin: 15px 0;
}


  .hero-content h2 {
    font-size: 34px;
  }
}
